/*_____GENERAL_____*/


/*_____NAVBAR_____*/
header {
    font-size: 25px;
}

#main-menu.navbar-default {
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.navbar.navbar-default .paddingLogoNav {
    height: auto;
    padding: 10px 20px 10px 20px;
    margin-left: 0;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*_____FOOTER_____*/
footer {
    font-size: 25px;
}

#footer a {
    color: #777;
}

#footer {
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.mentionFooter {
    color: #777;
    margin-top: 30px;
}

/*_____Page Services_____*/
#pricing ul.pricing {
    background-color: #ffffcc;

}

