/*_____GENERAL_____*/
h2 {
    font-size: 44px;
}

.btn-default {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #45aed6;
    border-radius: 100px;
    color: #45aed6;
    font-size: 17px;
    height: 50px;
    line-height: 20px;
    margin: 10% 10px 10px 0;
    padding: 15px 35px;
    transition: all 0.4s ease 0s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active {
    background: #1C75BC;
    border: 2px solid #1C75BC;
    color: white;
}

/*_____NAVBAR_____*/
header {
    font-size: 25px;
}
.stopPadding {
    margin-top: -100px;
}
#main-menu.navbar-default {
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.navbar.navbar-default .paddingLogoNav {
    height: auto;
    padding: 5% 5% 5% 5%;
    margin-left: 5%;
}

#main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    border-top: none;
    border-bottom: 3px solid #45aed6;
}

#main-menu.navbar-default .navbar-nav > li.active > a {
    background-color: rgba(54, 171, 226, 0.8);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
.logo {
    width: 100px;
}

/*_____FOOTER_____*/
footer {
    font-size: 25px;
}

#footer a {
    color: #777;
}

#footer {
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.mentionFooter {
    color: #777;
    margin-top: 4%;
}
/*_____Page QuiSommesNous_____*/
.qsn {
    margin: 3% 0;
}

/*_____Page Services_____*/
#pricing ul.pricing {
    background-color: #ffffcc;

}

/*________Home________*/

.section-header {
    margin-bottom: 15%;
}

.btn-section{
    padding-top: 8%;
}

.quote {
    color: #1C75BC;
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #1C75BC;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

/*-------------------------------*/
/*    Formulaire Services         */
/*-------------------------------*/

.offerform h3 {
    font-size: 35px;
    margin-top: 15%;
}

/*______________ CLOUD ____________*/

#dropzone {
    border: 3px dashed black;
}

/*--------------Circle----------------*/
.circleHome {
    filter: brightness(70%);
    background: transparent url("../img/circle.jpg") no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
}
.btn-circle {
    display: block;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 15px solid #1C75BC;
    background-color: #C2B499;
    hover: white;
    text-align: center;
    margin: 10px;
    margin-top: 3%;
    padding: 30px;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 10px;
    animation: pulse 10s infinite;
    vertical-align: top;

}
.circle {
    margin: 12% 0 0 0;
}
.circleTitle {
    text-align: center;
    margin-top: 3%;
    font-size: 90px;

}
.circleItem {
    display: inline-block;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    border: 25px solid #1C75BC;
    hover: white;
    text-align: center;
    margin: 10px;
    margin-left: 17%;
    padding: 20px;
    color: black;
    font-size: 20px;
    background-color: #C2B499;
    vertical-align: top;


}
/*.circleLink {*/
/*position: relative;*/
/*margin-left: 40%;*/
/*padding: 10%;*/
/*----------------layoutAppli------------*/

.avatar{
    width: 50px;
}

/*___________________Accueil Appli________________*/

.navAppli {
    margin-top: 50px ;
    margin-bottom: 50px ;
}

.navImage {
    background-color: rgba(54,171,226,0.2);
    border: none;
    box-shadow: black;
    margin: 1% auto;
    font-size: 200px;
}

.navImageTitle {
    font-size: 20px;
    text-decoration: none;
}