/*_____GENERAL_____*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fresca';
    src: url('../fonts/Fresca/Fresca-Regular.ttf') format('truetype');
}

body {
    font-size: 20px;
    font-family: Poppins;
}

h1, h2, h3 {
    font-family: Fresca;
}

h2 {
    font-size: 44px;
}

h3 {
    font-weight: bold;
}

.btn-default {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #45aed6;
    border-radius: 100px;
    color: #45aed6;
    font-size: 17px;
    height: 50px;
    line-height: 20px;
    padding: 15px 35px;
    transition: all 0.4s ease 0s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active {
    background: #1C75BC;
    border: 2px solid #1C75BC;
    color: white;
}

/*_____NAVBAR_____*/
header {
    font-size: 25px;
}

.stopPadding {
    margin-top: -100px;
}

#main-menu.navbar-default {
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.navbar.navbar-default .paddingLogoNav {
    height: auto;
    padding: 5% 5% 5% 5%;
    margin-left: 5%;
}

#main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    border-top: none;
    border-bottom: 3px solid #45aed6;
}

#main-menu.navbar-default .navbar-nav > li.active > a {
    background-color: rgba(54, 171, 226, 0.8);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
.logo {
    width: 100px;
}
@media (max-width: 1700px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/*_____FOOTER_____*/
footer {
    font-size: 25px;
}

#footer a {
    color: #777;
}

#footer {
    background-color: white;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.mentionFooter {
    color: #777;
    margin-top: 4%;
}

.footerLinks {
    margin-top: 2%;
}

/*_____Register_____*/
.registerform{
    margin-bottom: 70px;
    margin-top: 0px;
    padding-top: 100px;
}

/*________Login________*/

.marginBtnRegister {
    margin: 30px auto 50px auto;
}

/*_____Page QuiSommesNous_____*/
.qsn {
    margin: 3% 0;
}
#about{
    padding-top: 50px;
    padding-bottom: 30px;
}
.qsnSectionHeader{
    padding-bottom: 50px;
}
.morepadding{
    padding-left: 5%;
}

/*_____Page Services_____*/
.serviceTitle {
    margin-bottom: 5%;
    margin-top: 3%;
}

.plan-purchase {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    left: 0px;
}

#pricing ul.pricing {
    background-color: #45aed6;
    height: 500px;
}


#pricing {
    padding: 30px 0 70px;
}




/*_____Page ObjetsCo_____*/

.objetsTitleFront {
    margin-bottom: 5%;
    margin-top: 3%;
}


/*________Home________*/

.paddAnchor {
    padding-top: 100px;
}

.marginTitle {
    margin-top: 30px;
}

.marginButtonHome {
    margin-top: 50px;
}

.firstItem {
    background-image: url(../images/slider/slider1.jpeg);
}


.secondItem {
    background-image: url(../images/slider/slider2.jpeg);
}

.medal {
    display: inline;
}

.quote {
    color: #1C75BC;
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #1C75BC;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

/*-------------------------------*/
/*    Formulaire Services         */
/*-------------------------------*/

.offerform h3 {
    font-size: 35px;
    margin-top: 15%;
}

/*______________ CLOUD ____________*/


.imgCloud{
    background-image: url("../img/cloud.png");
}
.btnCloud {
    text-align: left;
    display: inline-block;
    margin-top:3%;
}
.cloudTitle {
    font-size: 44px;
    margin-top: 25%;
}
.cloudContent {
    font-size: 19px;
    margin-top: 5%;
}
.downloadFile > p{
    font-size: 30px;
}
.itemCloud {
    width: 100%;
}
.imgFile {
    max-width: 429px;
    max-height: 321px;
}
/*--------------Circle----------------*/
.circleSub {
    text-align: center;
}

.circleItem {

    width: 440px;
    height: 440px;
    border-radius: 220px;
    vertical-align: top;
    position: relative;
    z-index: -1;
    border: 10px solid #C2B499;
    margin: auto;

}
.circleMember{
    width: 110px;
    height: 110px;
    border-radius: 55px;
    display: inline-block;
    margin-top: -10%;
    border: 10px solid #C2B499;

}

.btn-circle {
    display: block;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 10px solid #C2B499;
    background-color: #36ABE2;
    hover: white;
    text-align: center;
    margin-top: 0px;
    padding: 30px;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 10px;
    animation: pulse 10s infinite;
    vertical-align: top;

}
.circle {
    margin: 5px auto;
}
.circleTitle {
    text-align: center;
    margin-top: 3%;
    font-size: 90px;
}

.circleImg {
    width: 25px;
}
/*----------------layoutAppli------------*/

.circleLink, .circleLink:hover, .circleLink:active, .circleLink:visited, .circleLink:focus {
    text-decoration: none;
}

.paddAuth {
    padding-top: 20px;
}

.stopPaddLink {
    padding: 0;
}

.avatar{
    width: 50px;
}


@media screen and (max-width: 768px){
    .paddAuth {
        padding-top: 10px;
    }

    .respNavApp {
        font-size: 25px;
    }

    .respLink {
        font-size: 15px;
    }

    .logo {
        width: 70px;
        padding-top: 15px;
    }

    .avatar {
        width: 40px;
    }

}

/*--------------Wall----------------*/
.wallContent{
    margin: 20px auto;
}

.messages>.well{
    background-color: aliceblue;
}
.messagesRight{
    margin-right: 0;
    text-align: right;
}
.messagesLeft{
    margin-right: 0;
    text-align: left;
}
#affiche{
    text-align: center;
    width: 40%;
    height: auto;
    margin: 0 35%;
}
#retour{
    text-align: right;
    width: 200px;
    height: auto;
    margin-right: -100px;
}
/*___________________Accueil Appli________________*/

.navAppli {
    margin-top: 50px ;
    margin-bottom: 50px ;
}

.navImage {
    background-color: rgba(194, 180, 153,0.4);
    box-shadow: black;
    margin: 3% auto;
    font-size: 180px;
    border: 10px solid rgb(28, 117, 188);
    border-radius: 50%;
    padding: 10%;
}

.navImage:hover, .navImage:focus, .navImage:active {
    text-decoration: none;
    border: 10px solid rgb(194, 180, 153);
}

.navImageTitle {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.pictoColor {
    color: rgb(28, 117, 188);
}

@media screen and (max-width: 768px) {
    .navImageTitle {
        font-size: 20px;
    }
}

/*--------------adminUser----------------*/
.btn-return{
    margin: 30px 10px;
    padding: 0 20px;
}
.btn-edit{
    background-color: white;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
}
.btn-delete{
    background-color: white;
    margin: 5px;
    padding: 10px;
}
.addUserForm{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 50px;
}
.btn-submit-resize{
    margin-top: 20px;
}
.colorForCenter{
    background-color: rgba(94, 187, 231, 0.3);
}
.colorForCenter>td{
    background-color: rgba(94, 187, 231, 0.3);
}
.colorForAdmin{
    background-color: rgba(94, 187, 231, 0.5);
}
.colorForAdmin>td {
    background-color: rgba(94, 187, 231, 0.5);
}

/*___________________Admin Appli________________*/


.formEditUser{
    width: 200px;
}
.editUserBlock{
    margin-top: 50px;
}

/*___________________Agenda________________*/

.agendaTitle {
    font-size: 50px;
    text-decoration: none;
}

#calendar {
    margin-top: 50px ;
    margin-bottom: 50px ;
}
