{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container text-center marginTop marginBottom">
        <h3>Bienvenue {{ user.username }} !</h3>
    <p>Votre inscription est effectuée !</p>
    {% if targetUrl %}
    <p><a href="{{ path('accueil') }}">Retourner à la page de sélection des cercles</a></p>
    {% endif %}
    </div>
{% endblock fos_user_content %}
