{% extends is_granted('ROLE_ADMIN') ? "FrontBundle::layoutAdmin.html.twig" : "FrontBundle::layoutFront.html.twig" %}

{% block title %} Créer un Cercle{% endblock %}

{% block content %}
    <h1>CRUD add Circle</h1>
{% endblock %}
