{% extends 'base.html.twig' %}
{% block title %} Qui Sommes Nous ?{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/normalize.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
{% endblock %}
{% block content %}
        <section class="container qsn">
            <article class="row ">
                <header class="text-center">
                    <h1>Qui Sommes Nous ?</h1>
                    <h2>Le Cercle de Confiance</h2>
                    <img src="http://lorempixel.com/400/200" />
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem consequatur deserunt enim magni nam nemo nesciunt nisi quos repellat. Ducimus impedit laudantium recusandae sequi suscipit. Animi exercitationem odit temporibus?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem consequatur deserunt enim magni nam nemo nesciunt nisi quos repellat. Ducimus impedit laudantium recusandae sequi suscipit. Animi exercitationem odit temporibus?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem consequatur deserunt enim magni nam nemo nesciunt nisi quos repellat. Ducimus impedit laudantium recusandae sequi suscipit. Animi exercitationem odit temporibus?</p>
           </article>
        </section>
{% endblock %}
