{% extends "FrontBundle::layoutFront.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %} Modification de l'offre{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 offerform">

            <h3 class="section-header section-title text-center">Choisissez Votre Service</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <input class="btn btn-info form-control" type="submit" name="add" value="Modifiez votre service"/>
            </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}