{% extends "FrontBundle::layoutFront.html.twig" %}
{% block content %}
{% for object in objects %}
        Reference: {{ object.reference }}<br />
        Description: {{ object.description }}<br />
        DocUrl: <a href="{{ object.docurl }}">Documentation</a><br />
        Price : {{ object.price }}<br />
        <button>Acheter</button>
        <br />
        <br />
{% endfor %}
{% endblock %}