{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block title %}Gérer utilisateurs du Cercle{% endblock %}

{% block content %}
    {{ dump() }}
    <section>
        <div class="container-fluid">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <h3>Liste des utilisateurs du Cercle</h3>
            </div>

            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="tdFirstname">Firstname</th>
                            <th class="tdName">Name</th>
                            <th class="tdName">Visio</th>
                            <th class="tdName">Wall</th>
                            <th class="tdName">Cloud</th>
                            <th class="tdName">Agenda</th>
                            <th class="tdAction">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="tdFirstname">{{ user.user.firstname }}</td>
                                <td class="tdName">{{ user.user.name }}</td>
                                <td class="tdName"><input type="checkbox" disabled="disabled" {% if user.callAccess == true %}checked="checked"{% endif %}></td>
                                <td class="tdName"><input type="checkbox" disabled="disabled" {% if user.wallAccess == true %}checked="checked"{% endif %}></td>
                                <td class="tdName"><input type="checkbox" disabled="disabled" {% if user.cloudAccess == true %}checked="checked"{% endif %}></td>
                                <td class="tdName"><input type="checkbox" disabled="disabled" {% if user.agendaAccess == true %}checked="checked"{% endif %}></td>
                                <td class="tdAction">
                                    <input class="btn btn-default" name="contactLus" value="Edit" type="submit">
                                    <input class="btn btn-danger" name="contactDelete" value="Delete" type="submit">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <a href="circle/add_users/6">
                        <input class="btn btn-success" name="addUser" value="Ajouter un utilisateur">
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
