{% extends "FrontBundle::layoutFront.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %} Modifiez vos services{% endblock %}


{% block content %}
    {#{{ form(form) }}#}
    {{ dump() }}

    <h3>Choisissez vos services</h3>

    {{ form_start(form) }}


    {{ form_end(form) }}

{% endblock %}