{% extends 'FrontBundle::layoutFront.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Gérer utilisateurs du Cercle{% endblock %}

{% block content %}
    <a href="{{ path('appli', {'token': token}) }}" class="btn btn-default padder"><i class="fa fa-arrow-left"></i></a>
    <div class="container-fluid text-center editUserBlock">
        <div class="formEditUser center-block">
            {{ form_start(form) }}
            {% for widget in form.children %}
                {{ form_row(widget) }}
                <br />
            {% endfor %}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}