{% extends "FrontBundle::layoutFront.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %} S'enregistrer {% endblock %}


{% block content %}

    <div class="section-header text-center">
        <h2 class="section-title">Créer un compte</h2>
    </div>

    <div class="container text-center marginBottom marginTop">
        <a href="{{ path('verif_account', {'token': token}) }}" class="btn btn-default">J'ai déjà un compte</a>
        {% if error is defined %}
            <h2>{{ error }}</h2>
        {% else %}
            <h3>Compléter l'invitation</h3>

            {{ form_start(form) }}


            {{ form_end(form) }}
        {% endif %}

    </div>

{% endblock %}
