{% extends 'AppBundle::layoutAppli.html.twig' %}

{% block title %}Bienvenue sur le Cercle{% endblock %}

{% block content %}
    <section>
        <a href="{{ path('appli', {'token': token}) }}" class="btn btn-default padder"><i class="fa fa-arrow-left"></i></a>
        <div class="container">
            <div class="row text-center navAppli section-header">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h2 class="section-title">Administration de votre cercle</h2>
                    <h4>Vous avez la possibilité de gérer vos membres, vos cercles et les objets connectés</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="thumbnail navImage" href="{{ path('listMembers', {'token': token}) }}"
                       data-toggle="tooltip" data-placement="top" title="Gestion Membres">
                        <i class="fa fa-user-plus"></i>
                        <p class="navImageTitle">Gerer Membres</p>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="thumbnail navImage" href="{{ path('edit_offer', {'token': token}) }}"
                       data-toggle="tooltip" data-placement="top" title="Gestion Cercle">
                        <i class="fa fa-check-circle-o"></i>
                        <p class="navImageTitle">Gerer Cercle</p>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="thumbnail navImage" href="{{ path('objets', {'token': token}) }}"
                       data-toggle="tooltip" data-placement="top" title="Gestion Objets">
                        <i class="fa fa-video-camera"></i>
                        <p class="navImageTitle">Gerer les Objets</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
