{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block title %}Bienvenue sur le Cercle{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <a href="/cercles">
                <input type="button" class="btn btn-default" value="Retourner aux cercles"/>
            </a>

            <a href="/cercles/{{ token }}">
                <input type="button" class="btn btn-default" value="Retourner à l'appli"/>
            </a>

            <a href="/cercles/{{ token }}/admin/membres">
                <input type="button" class="btn btn-success" value="Gerer Membres"/>
            </a>

            <a href="/cercles/{{ token }}/admin/offres">
                <input type="button" class="btn btn-success" value="Gerer Cercle"/>
            </a>

            <a href="/cercles/{{ token }}/admin/objets">
                <input type="button" class="btn btn-success" value="Gerer Objets"/>
            </a>

        </div>
    </div>


{% endblock %}