{% extends 'AppBundle::layoutAppli.html.twig' %}

{% block title %}Bienvenue sur le Cercle{% endblock %}

{% block content %}
    <a href="{{ path('appli', {'token': token}) }}" class="btn btn-default padder"><i class="fa fa-arrow-left"></i></a>

    <div class="container">

        <div class="row text-center navAppli">
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
                <a class="thumbnail navImage" href="{{ path('listMembers', {'token': token}) }}"
                   data-toggle="tooltip" data-placement="top" title="Gestion Membres">
                    <i class="fa fa-user-plus"></i>
                    <p class="navImageTitle">Gerer Membres</p>
                </a>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
                <a class="thumbnail navImage" href="{{ path('edit_offer', {'token': token}) }}"
                   data-toggle="tooltip" data-placement="top" title="Gestion Cercle">
                    <i class="fa fa-check-circle-o"></i>
                    <p class="navImageTitle">Gerer Cercle</p>
                </a>
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
                <a class="thumbnail navImage" href="{{ path('objets', {'token': token}) }}"
                   data-toggle="tooltip" data-placement="top" title="Gestion Objets">
                    <i class="fa fa-video-camera"></i>
                    <p class="navImageTitle">Gerer les Objets</p>
                </a>
            </div>
        </div>
    </div>


{% endblock %}