{% extends 'FrontBundle::layoutFront.html.twig' %}

{% block content %}
    <div class="container marginBottom marginTop text-center">
        <div class="row">

        </div>
    </div>

{% endblock %}

