{% extends 'AppBundle::layoutAppli.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row text-center" id="temperature">
            <canvas id="myChart" width="50vw" height="10vh"></canvas>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/Chart.js-master/dist/Chart.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let values = [];
            {% for object in circleUser.objectEntries %}
                {% for datas in object.model.dataObjects %}
                    {% if object.model.typeObject.type == "Temperature sensor" and object.access == 1 %}
                        values.push({{ datas.data }});
                    {% endif %}
                {% endfor %}
            {% endfor %}
            if (values.length == 0) {
                $('#temperature').prepend("<h3>Vous n\'avez pas accès à ces données</h3>");
            }
            values = values.slice(values.length - 10);
            let ctx = document.getElementById("myChart").getContext('2d');
            let myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["", "", "", "", "", "", "", "", "", ""],
                    pointStyle: 'circle',
                    datasets: [{
                        label: 'Relevé de temperature',
                        data: values,
                        backgroundColor: [
                            'rgba(54, 171, 226, 0.2)',
                        ],
                        borderColor: [
                            'rgba(28, 117, 188, 1)',
                        ],
                        borderWidth: 3
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    tooltips: {
                        mode: 'point'
                    }
                }
            });

        });
    </script>
{% endblock %}